
[
    {lager, 
        [
            {handlers, 
                [
                    %{lager_console_backend, info},
                    {lager_file_backend, 
                        [
                            {file, "log/daily.log"}, 
                            {level, debug},
                            {formatter, lager_default_formatter},
                            {formatter_config, [date, " ", time," [", severity, "] ",
                                pid, " ", module, ":", line, " === ", message, "\n"]}
                        ]
                    }
                ]
            },
            {crash_log, "log/crash.log"}
        ]
    }
].
